<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Pull in handlebars header -->
        {{>head}}
        <title>Express Tutorial</title>


    </head>
    <body>
        {{>bsnavbar}}
        <div class="container"></div>
        {{{body}}}
        <footer>
            {{>bsfooter}}
        </footer>
    </body>

</html>