<div class="container">
    <div class="jumbotron">
        <div class="lead">About Schuyler</div>
        <p>I love programming and all things in the development of the Internet to come.  I live to create great new things for the IoT.  I am constantly looking for new projects and ideas.  Let me know if I can help you with anything.</p>
    </div>>

</div>