<div class="container">
    <div class="jumbotron">
        <div class="display-3">
            Contact Us
        </div>
        <div class="lead">I love writing code.  I would love to write some for you.</div>
        <form class="formContactUs" role="form"
        action="/process?form=contactus" method="post">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <!-- User Name -->
            <div class="form-group row">
                <label for="nameField" class="col-sm-2 col-form-label">Your Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameField" name="contactName">
                </div>
            </div>
            <!-- Email address fro the requestee -->
            <div class="form-group row">
                <label for="emailField" class="col-sm-2 col-form-label">Email Address:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="emailField" name="emailAddy">
                </div>
            </div>
            <!-- Nature of the request -->
            <div class="form-group row">
                <label for="descField" class="col-sm-6">A Brief Description of your project:</label>
                <div class="col-12">
                    <textarea class="form-control" id="descField" rows="4" name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div> <!-- End of form-group -->
        </form>


    </div>

</div>