<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form>
                <label for="offers">Send me an offer I can't refuse</label>
                <input type="file" class="form-control-file" id="offers">
            </form>
        </div>
    </div>

</div>